<user-create></user-create>

<!-- <user-detail></user-detail> -->

<!-- 
<div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>User name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Reviewer</th>
        <th>Admin</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.FirstName }}  {{ user.LastName }}</td>
        <td>{{ user.UserName }}</td>
        <td>{{ user.Email }}</td>
        <td>{{ user.Phone }}</td>
        <td>{{ user.IsReviewer }}</td>
        <td>{{ user.IsAdmin }}</td>
        <td>{{ user.Active }}</td>
      </tr>
    </tbody>
  </table>
</div> -->


